/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* CSS Reset so that Divs don't have spacing
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */


html, body, h1, h2 {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Globals
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #32c896;
  color: #505050;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
}

a {
  text-decoration: none; /*a plus sign will not be underlined*/
}


/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Header
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
header {
  padding: 30px 0;
}

#title {
  text-align: center;
}

#title h1 {
  color: #fff;
  font-size: 35px;
  margin-bottom: 10px;
}

#title h2 {
  color: #81dfc0;
  font-size: 25px;
}
h1, h2 {
  line-height: 1;
  font-weight: 400;
}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Footer
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Template Wrapper, Main and Container boxes
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
#wrapper {
  width: 100%;
  margin: 0 auto;
}

#main {
  background-color: orange;
  padding: 30px 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}


